body{
  position: relative;
  min-height: 95vh;
  background: linear-gradient(121deg, rgba(29, 28, 171, 0.2), rgba(0, 197, 219, 0.8)), url(static/img/home.jpg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Inder', sans-serif;
  font-weight: 500;
  color: #E4F2EC;
}
.teste{
  background-color: black;
}
.h3, h3{
  font-size: 30px;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: rgb(0, 0, 0);
}
.btn-primary{
  color: #5555C9;
  background-color: #E4F2EC;
  border-color: white;
  font-weight: 500;
  font-size: 24px;
}
button, input, select, textarea{
    font-size: 20px;
    font-weight: 500;
    color:  black;
    border: 2px solid white;
    border-radius: 7px;
}
label{
  font-size: 24px;
  font-weight: 500;
  padding-right: 10px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #FFF;
}

.nav-link-left {
  margin-left: 15px;
  font-size: 25px;
  display: inline-block;
}
.nav-link-right {
  font-size: 25px;
  display: inline-block;
  margin-right: 140px;
}
.nav-link-left:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav-link-right:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav-item {
  font-size: 20px;
}

a{
  color: #fff;
}

.sensores{
  font-size: 19px;
}

.servicos{
  border: 1px solid white;
  border-radius: 7px;
  background: linear-gradient(121deg,
    rgba(119, 118, 171, 0.82), rgba(122, 197, 219, 0.72));
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.controle-de-tv {
  font-family: 'Rammetto One', cursive;
}


.botao-controle-1{
  color: rgba(29, 28, 171, 0.8);
  border-color: rgba(29, 28, 171, 0.8);
  border-radius: 15px 50px;
  margin-left: 5px;
  margin-top:  7px;
  width: 23%;
  height: 8%;
}
.botao-controle-1:hover {
  border-color: black;
  background-color: black;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.botao-controle-2{
  color: rgba(29, 28, 171, 0.8);
  border-color: rgba(29, 28, 171, 0.8);
  border-radius: 15px 50px;
  margin-left: 5px;
  margin-top:  25px;
  width: 33%;
  height: 8%;
}

.botao-controle-2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

