<div class="container servicos animated fadeIn">
    <h3 class="text-center">Controle de TV</h3>



  <div class="row">
    <div class="col-sm-8 controle-de-tv" style="padding-left: 150px; padding-top: 50px;
    padding-bottom: 40px;">
        <button ng-click="addNum(1)" class="btn btn-primary botao-controle-1" type="button"> 1 </button>
        <button ng-click="addNum(2)" class="btn btn-primary botao-controle-1" type="button"> 2 </button>
        <button ng-click="addNum(3)" class="btn btn-primary botao-controle-1" type="button"> 3 </button><br>
        <button ng-click="addNum(4)" class="btn btn-primary botao-controle-1" type="button"> 4 </button>
        <button ng-click="addNum(5)" class="btn btn-primary botao-controle-1" type="button"> 5 </button>
        <button ng-click="addNum(6)" class="btn btn-primary botao-controle-1" type="button"> 6 </button><br>
        <button ng-click="addNum(7)" class="btn btn-primary botao-controle-1" type="button"> 7 </button>
        <button ng-click="addNum(8)" class="btn btn-primary botao-controle-1" type="button"> 8 </button>
        <button ng-click="addNum(9)" class="btn btn-primary botao-controle-1" type="button"> 9 </button><br>
        <button ng-click="enviar()" class="btn btn-secondary botao-controle-2" type="button"> Enviar </button>
        <button ng-click="resetar()" class="btn btn-secondary botao-controle-2" type="button"> Resetar </button>
    </div>
    <div class="col-sm-4" style="padding-top: 50px;">
        <h3>Canal: {{ctrl.canal}}</h3>
    </div>
  </div>




</div>

